.intro {
    display: flex;
    margin: 2rem auto;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    margin-top: -0.5rem;
    width: 80%;
    gap: 2rem;
}

.tit {
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.descrip {
    font-size: 18px;
    width: 60%;
}
