.intro {
    display: flex;
    margin: 2rem auto;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    margin-top: -0.5rem;
    width: 80%;
    gap: 2rem;
}

.tit {
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.descrip {
    font-size: 18px;
    width: 60%;
}
.andres-work {
    font-weight: 400;
    font-size: 26px;
}
.question-two{
    color: #6455F6;
    font-size: 38px;
}
.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9rem;
    margin-bottom: 9rem;
}
.think {
    font-size: 25px;
    color: white;
    background-color: black;
    padding: 10px 18px;
    border-radius: 50px;
}
.call-to-action{
    color: #6455F6;
    font-size: 64px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0;
}
.rutin {
    text-align: center;
    font-weight: 500;
    margin: 0;
    font-size: 42px;
}
/* styles.css */
.input-rounded {
  padding: 18px 16px;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
}

.input-rounded:focus {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
}
.phone {
    margin: 0;
    margin-bottom: -0.3rem;
}
.questions {
    font-size: 30px;
    text-align: center;
    color: #6455F6;
    font-weight: 500;
    margin-bottom: 3rem;
}
.scale-1, .scale-2, .scale-3, .scale-4 {
    margin-top: 7rem;
}
.label-likert {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 30%;
    margin: 0 auto; 
    padding-top: 0.8rem;
    font-size: 24px;
    color: #5F51F6;
    text-align: center;
    font-weight: bold;
}
.label-likert-diferente {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 38%;
    margin: 0 auto; 
    padding-top: 0.8rem;
    font-size: 24px;
    color: #5F51F6;
    text-align: center;
    font-weight: bold;
}
.btn-likert {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.div-icons {
    background-color: #A4B8FF;
    padding: 0.8rem 1rem;
    border-radius: 50px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 0 auto;
    background-color: #5E50E0;
}
.personalizer {
    font-weight: 400;
    font-size: 32px;
    margin: 0;
    margin-bottom: 1rem;
}
.btn-susb {
    background-color: #1CDC55;
    color: white;
    margin-top: 1rem;
    border: none;
    padding: 12px;
    width: 200px;
    height: 65px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
}
input[type="radio"] {
  -webkit-appearance: none; /* Safari/Chrome */
  -moz-appearance: none;    /* Firefox */
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-color: white;
  outline: none;
  cursor: pointer;
  position: relative;
}

input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.8rem;
  height: 0.8rem;
  background: #1CDC55; /* color cuando está seleccionado */
  border-radius: 50%;
  transform: translate(-50%, -50%);
}